* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: #f6f6f2;
}
.logo h1 {
    font-size: 6vh;
    color: #388087;
    font-family: Arial, Helvetica, sans-serif;
}
.links ul {
    display: flex;
    list-style-type: none;
    width: 50%;    
    gap: 20px;
    font-size: 1.2rem;
}
li {
    padding: 10px;
}
.links ul li:hover {
    background-color: #6fb3b8;
    color: #f6f6f2;
    cursor: pointer;
}
.socialMedia {
    display: flex;
}

.btn {display: none;}
.btn button img {
    height: 11.5vh;
    width: 8vw;
    cursor: pointer;
}
.btn button {
    background: transparent;
    border: none;    
}
@media (max-width: 650px) {
    nav ul{
        height: 60vh;
        width: 90vw !important;
        position: absolute;
        left: -10px;
        margin-top: 7vh;
        transition: all 1s ease-out !important;
        padding-left: 10px;
        padding-top: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: #388087;
        color: #f6f6f2;
    }
    nav ul li {
        border-bottom: 2px solid #6fb3b8;
    }
    .btn {
        display: block;
    }
    .btn img {
        width: 20vw !important;
    }
    .liClas {
        height: 0px;
        width: 0px;
        border: none;
        position: absolute;
        left: -100%;
    }
    .noBorderBottom {
        border-bottom: 0px;
        color: white;
    }
}